<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <appSettings>
    <!--<add key="dbtype" value="mysql"/>-->
    <!--<add key="testconnectionString" value="Server=localhost;Database=sws_tst;Uid=root;Pwd=;SslMode=none;"/>
    <add key="prodConnectionString" value="Server=localhost;Database=sws_tst;Uid=root;Pwd=;"/>-->
    <!--<add key="testconnectionString" value="Server=nl1-wsq1.a2hosting.com;DATABASE=websimpl_websimpl_db;User Id=websimpl_webs_adm;Password=webs_admgjdshgfjdsg574uhhgg!]]safsafsas;" />-->
    <add key="testconnectionString" value="Server=nl1-wsq1.a2hosting.com;DATABASE=websimpl_prd1;User Id=websimpl_webs_adm;Password=webs_admgjdshgfjdsg574uhhgg!]]safsafsas;" />
    <add key="prodConnectionString" value="Server=nl1-wsq1.a2hosting.com;DATABASE=websimpl_prd1;User Id=websimpl_webs_adm;Password=webs_admgjdshgfjdsg574uhhgg!]]safsafsas;" />
    <add key="dbtype" value="sql" />
    <!--<add key="testconnectionString" value="Server=.\SQLEXPRESS;DATABASE=sws_tst;Integrated Security=True;" />
    <add key="prodConnectionString" value="Server=.\SQLEXPRESS;DATABASE=sws_tst;Integrated Security=True;" />-->
  </appSettings>
  <connectionStrings>
    <add name="JqueryDbEntities" connectionString="metadata=res://*/MyProducts.csdl|res://*/MyProducts.ssdl|res://*/MyProducts.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\JqueryDb.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>