<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--<add key="prodConnectionString" value="Server=nl1-wsq1.a2hosting.com;DATABASE=websimpl_prd1;User Id=websimpl_webs_adm;Password=webs_admgjdshgfjdsg574uhhgg!]]safsafsas;" />-->
    <add key="connectionString" value="Server=.\SQLEXPRESS;DATABASE=SynnTst;Integrated Security=True;" />
    <add key="migrationTableName" value="migItems" />
  </appSettings>
</configuration>