<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="prodConnectionString" value="Server=.\SQLEXPRESS;DATABASE=DbMusic;Integrated Security=True;"/>
    <add key="connectionString" value="Server=.\SQLEXPRESS;DATABASE=SynnTst;Integrated Security=True;" />
    <add key="migrationTableName" value="migItems" />
    <add key="dirs" value="E:\Music,C:\Users\AdelaPc\Downloads" />
    <!--<add key="dirs" value="E:\,D:\,C:\Users\AdelaPc\Downloads" />-->
  </appSettings>
</configuration>