body {
    background-attachment: fixed;
    background-image: url("../img/body-bg.jpeg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.synn-text-area {
    background: #fff;
    padding: 10px 0 10px 0;
}

.synn-progress-table {
    background: #f9f9ff;
    padding: 15px 0px 30px 0px;
    min-width: 70px;
    color: #222222;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 500;
}

.synn-grid {
    width: 100%;
}

    .synn-form-button,
    .synn-grid tr {
        text-align: center;
        background-image: -webkit-linear-gradient(0deg, #e66587 0%, #f09458 100%);
        border-width: 0;
    }

        .synn-grid tr:hover {
            background-color: white;
            border: 1px solid #EF8E5E;
            color: #EF8E5E;
            text-shadow: 2px 2px 4px #EF8E5E;
        }

    .synn-grid th {
        text-align: center;
        /*background-image: -webkit-linear-gradient(0deg, #e66587 0%, #f09458 100%);*/
        border-width: 0;
    }

    .synn-grid td {
        text-align: center;
        background-color: #F9F9FF;
        text-align: center;
    }

.pagination-ys {
    /*display: inline-block;*/
    padding-right: 0;
    margin: 10px 0;
    border-radius: 0px;
}
    /*.pagination-ys table > tbody > tr > td > a:hover,
.pagination-ys table > tbody > tr > td > span:hover,
.pagination-ys table > tbody > tr > td > a:focus,*/
    .pagination-ys tr :hover {
        color: #ff0000;
        background-color: #dddddd;
        border-color: #fff;
    }



.rounded {
    border-radius: 35px;
    border: 1px solid transparent;
}

.synn-form-control {
    border-style: none;
    line-height: 40px;
    background: #F9F9FF;
    font: 400 13.3333px Arial;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}

.synn-input-text {
    display: block;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px;
    width: 100%;
    line-height: 50px;
    padding: 0 25px 0 25px;
    border: none;
    font-weight: 300;
    border-radius: 25px;
    background: #f9f9ff;
}

.synn-custom-btn {
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    background: #fff;
    border: none;
    box-shadow: 0px 0px 0px 0px #111;
    border-radius: 20px;
    outline: none;
    color: #f09359;
    font-weight: 700;
    letter-spacing: 0.125em;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #f09359;
}

    .synn-custom-btn:hover {
        background: #f09359;
        color: #f9f9ff;
    }

    .synn-custom-btn:active {
        background: #FACC2E;
        color: #333;
    }

.synn-bg-gradient {
    background-image: -webkit-linear-gradient(0deg, #e66587 0%, #f09458 100%);
}

.synnconfirmbutton {
    border: solid 1px #fff;
    box-sizing: border-box;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    font-family: Poppins;
    padding: 16px 16px 16px 30px;
    text-align: center;
    background-color: transparent;
}

    .synnconfirmbutton:hover {
        background-color: white;
        border: 1px solid #EF8E5E;
        color: #EF8E5E;
        text-shadow: 2px 2px 4px #EF8E5E;
    }

.rounded-corners {
    border: 3px solid #A1DCF2;
    -webkit-border-radius: 10px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    overflow: hidden;
}

.Grid {
    width: 100%;
}

    .Grid td, .Grid th {
        border: 1px solid #222222;
        text-align: center;
        font-size: 14px;
    }


.synntextwhiteshaddow {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 16px;
}

.synnsecondarytitle {
    font-weight: 600;
    font-size: 14px;
    padding: 0.75rem 1.25rem;
    margin-bottom: 3px;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 3px solid #FFFFFF;
    border-top: 3px solid #FFFFFF;
}

.syncontainer {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 1140px;
    box-sizing: border-box;
    background-color: rgba(247, 247, 247, 0.5);
    justify-content: center;
    padding: 15px 20px 30px 20px;
}

.synnnavcontainer {
    padding: 5px 5px 0px 5px;
    background-image: -webkit-linear-gradient(0deg, #929292 0%, #FF2525 100%);
    justify-content: center;
}

.synnmenuitem {
    font-size: 20px;
    font-family: Gill Sans Extrabold, sans-serif;
}


.synnmenucontainer {
    padding: 5px 5px 0px 5px;
}

.synnmenuitem:hover {
    background-color: #FACC2E;
    color: #ff0000;
}

.synnav {
    background-color: rgba(247, 247, 247, 0.5);
}

.synngridcontainer {
    padding: 25px 25px 25px 25px;
}

.synngridheaderrow {
}

.synngridpagination {
    padding-left: 0;
    margin: 20px 20px;
    border-radius: 4px;
    background: #fff;
}

    .synngridpagination tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
    }

    .synngridpagination table > tbody > tr > td > a, .synngridpagination table > tbody > tr > td > span {
        margin: 2px 2px;
        text-decoration: none;
        padding: 10px 5px 10px 5px;
        color: #111;
        border-color: #ddd;
        margin-left: -1px;
    }

.synnpanel {
    padding: 25px 25px 25px 25px;
}

.synngridpagination table > tbody > tr > td:hover {
    background-color: #ff0000;
}
