body {
}

.synn-textbox-with-label {
    position: relative;
}
.synn-textbox-with-label label {
    position: absolute;
    right: 28px;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    font-weight: 600;
    color: #888;
    font-size: 14px;
}

.synn-textbox-with-label input {
    border: solid 2px #ebebeb;
    box-sizing: border-box;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    font-family: Poppins;
    padding: 16px 140px 16px 30px;
}


.synngridstyled{
    width: 100%;
         text-align: center;
    font-size: 14px;

}
.synngridstyled th{
   text-align: center;
   font-weight:600;
   
   background:#F9F9FF;
   border:0;
}
.synngridstyled tr{
   padding-top:200px;
   /*background-image: -webkit-linear-gradient(0deg, #F9F9FF 0%, #FFFFFF 100%);*/
}
.synngridstyled tr:hover{
   color:black;
   background-color:#EC7F6D;
}
.synngridstyled td{
  border:0;
}
.synngridpager{
       background-color:#F9F9FF;
       width:100%;
}
.synngridpager table{
      width: 40%;
       font-size: 12px;
}



