.calendarmaincontainer{

}
.calendarrow{
    line-height: 1.5;
}
.calendarcell{

}
.validdate{
    background-color: #00ff21;
       border: solid 2px #ffffff;
    box-sizing: border-box;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    font-family: Poppins;
    padding: 16px 140px 16px 30px;
}
.invaliddate{
        background-color: #808080;
}
