* {
    box-sizing: border-box;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: right;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}


body {
    background-color: rgba(34,88,144, 0.9);
    width: 100%;
    direction: rtl;
    background-attachment: fixed;
    /*background-image: url("../img/body-bg.jpeg");*/
    background-image: url("https://images.pexels.com/photos/772476/pexels-photo-772476.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    /*opacity: 0.8;*/
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder { /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}
/*theme*/
.scontainer {
    width: 80%;
    border: 1px solid #9999ff;
    background-color: rgba(255,255,255, 0.3);
    margin: auto;
}

select {
    /* Size and position */
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 10px; /* Styles */
    background: #fff;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

myselect::-ms-expand {
    display: none;
}

/*theme*/
.snav {
    margin: auto;
    margin-bottom: 10px;
    width: 80%;
    align-content: center;
    background-image: -webkit-linear-gradient(0deg, #CCD9E7 0%, rgba(34,88,144,0.5) 100%);
}

    .snav ul {
        list-style-type: none;
        margin: 0;
        overflow: hidden;
        position: sticky;
    }

    .snav li {
        float: right;
    }

        .snav li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            .snav li a:hover:not(.active) {
                background-color: #707099;
            }

.active {
    background-color: #292929;
}

.mactive, .mcollapsible:hover {
    background-color: #fff;
}

.gridbutton {
    height: 25px;
    color: white;
}

.btnedt {
    background-color: transparent;
    color: white;
    border: none;
    width: 3px;
}

.btndlt {
    background-color: transparent;
    color: ThreeDLightShadow;
    border: none;
}

textarea {
    width: 100%;
    height: 350px;
}

/*theme*/
.spageheader {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5em;
    background-color: #225890;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px #1D1D1D;
}

/*theme*/
.spanel {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: rgba(34,88,144, 0.5);
    margin-top: 5px;
    padding: 12px;
    color: white;
}


    .spanel .spanelHeader {
        text-align: center;
        top: 0;
        font-size: 16px;
        font-weight: 600;
        padding: 12px;
        color: #FFFFFF;
        text-shadow: 2px 2px 4px #1D1D1D;
    }

    .spanel input[type=text], input[type=date], input[type=number], input[type=password], select {
        width: 100%;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        padding: 12px;
        text-align: center;
    }


.sbutton {
    width: 100%;
    font-size: 12px;
    font-weight: 600;
    padding: 12px;
}
    /*theme*/
    .sbutton:hover {
        background-color: #8AAED4;
        color: white;
    }

.synngridstyled {
    width: 100%;
    text-align: center;
    font-size: 14px;
}
    /*theme*/
    .synngridstyled th {
        text-align: center;
        font-weight: 600;
        padding: 8px 8px 8px 8px;
        background: #225890;
        color: white;
        border: 0;
    }

    .synngridstyled tr {
        padding-top: 40px;
        /*background-image: -webkit-linear-gradient(0deg, #F9F9FF 0%, #FFFFFF 100%);*/
    }

        .synngridstyled tr:hover {
            background-color: white;
            border: 1px solid rgba(204, 204, 255, 0.9);
            color: #000000;
            /*text-shadow: 1px 1px 1px #000000;*/
        }

    .synngridstyled td {
        border: 0;
    }
/*theme*/
.synngridpagination {
    padding: 20px 20px;
    border-radius: 4px;
    background: #225890;
}

    .synngridpagination tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
    }

    .synngridpagination table > tbody > tr > td > a, .synngridpagination table > tbody > tr > td > span {
        margin: 2px 2px;
        text-decoration: none;
        padding: 10px 5px 10px 5px;
        color: #111;
        border-color: #ddd;
        margin-left: -1px;
    }

.sgridcontainer {
    width: 100%;
    /*overflow:auto;*/
}

.calendarmaincontainer {
}

.gridcalendar {
    width: 100%;
    text-align: center;
    font-size: 14px;
}

    .gridcalendar table > tbody > tr > td {
    }

    .gridcalendar td {
        max-width: 15%;
        min-width: 15%;
        max-height: 15%;
        min-height: 15%;
        overflow: hidden;
    }

    .gridcalendar th {
        text-align: center;
        font-weight: 600;
        padding: 8px 8px 8px 8px;
        background: #8080FF;
        color: white;
        border: 0;
    }

    .gridcalendar tr {
        padding-top: 40px;
        /*background-image: -webkit-linear-gradient(0deg, #F9F9FF 0%, #FFFFFF 100%);*/
    }

    .gridcalendar td:hover {
        background-color: white;
        color: #000000;
        /*text-shadow: 1px 1px 1px #000000;*/
    }

.calendarheader {
    float: right;
    padding: 10px;
}

.spnaneltopactions {
    width: 100%;
}

.siconbutton {
    background-color: transparent;
    border: none;
    padding: 10px;
    color: white;
}

.left {
    float: left;
    padding: 10px;
}

.right {
    float: right;
    padding: 10px;
}
/*theme*/
.collapsible {
    display: none;
    width: 100%;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    background-image: -webkit-linear-gradient(0deg, #CCD9E7 0%, rgba(34,88,144,0.5) 100%);
}

.content {
}

.min-grid {
    display: none;
}

.tablefilter {
}

.textverrysamll {
    font-size: 8px;
}


.centerinpage {
    padding-top: 15%;
}

.shiftcellbase {
    border: 2px solid #FFFFFF;
}

.shiftcellvalid {
    /*height: 80px;*/
    border: 1px solid #FFFFFF;
    background-color: rgba(255, 255, 255, 0.4);
    height: 75px;
    color: rgba(41, 57, 85, 0.5);
}

.shiftcellactive {
    border: 2px solid #292929;
    background-color: rgba(41, 57, 85, 0.5);
}

.aspcalendarheaderactions {
    width: 15%;
}

    .aspcalendarheaderactions a {
        margin: auto;
        padding-left: 48%;
        padding-right: 48%;
        color: white;
    }


.spaneltwoinrow {
}

.mcontent {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

.chkactivecontainer {
    width: 30%;
    border: 2px solid white;
    padding: 2%;
}
/*theme*/
.menubuttoncontainer {
    background-color: rgba(34,88,144, 0.5);
    padding: 4px;
    margin: 2px 0px 2px;
    text-align: left;
}

.menubutton {
    color: white;
    padding: 7px 7px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    background-color: transparent;
    border: 1px solid white;
}
/*theme*/
.marktable {
    width: 100%;
    text-align: center;
    background-color: rgba(91,142,196, 0.5);
}

    .marktable table {
        width: 100%;
        font-size: 16px;
        font-weight: 600;
    }

    .marktable td {
        background-color: rgba(34,88,144, 0.5);
        color: white;
        padding: 20px 20px 20px;
        border: none;
    }

legend {
    text-shadow: 2px 2px 4px rgba(41, 57, 85, 0.5);
    font-size: 18px;
    color: white;
}

.gridtextinput {
    height: 30px;
    background-color: transparent;
    color: black;
    font-weight: 600;
}

.griddateinput {
    width: 100%;
    text-align: center;
    background-color: transparent;
    color: white;
    font-weight: 600;
}

.griddateinput:hover {
     color: black;
}
.griddropinput {
    width: 100%;
    height: 30px;
    text-align: center;
    color: black;
    font-weight: 600;
    background-color: transparent;
}

.ichart {
    width: 100%;
    min-height: 400px;
}
