

@media only screen and (min-width: 801px) {
    body {
        /*background-image: -webkit-linear-gradient(0deg, #929292 0%, #FF2525 100%);*/
    }

    .snav li {
        float: right;
    }

    .collapsible {
        display: none;
    }

    .content {
        display: block;
    }
}

@media only screen and (max-width: 800px) {
    body {
        /*background-image: -webkit-linear-gradient(0deg, #929292 0%, #FF2525 100%);*/
    }

    .snav li {
        float: none;
    }

    .collapsible {
        display: block;
    }

    .content {
        display: none;
    }

    .gridcalendar {
        display: none;
    }

    .synngridstyled {
        text-align: center;
        font-size: 10px;
    }

    .synngridpagination {
        border-radius: 4px;
        background: #8080FF;
    }

        .synngridpagination tr {
            display: table-row;
            vertical-align: inherit;
            border-color: inherit;
        }

        .synngridpagination table > tbody > tr > td > a, .synngridpagination table > tbody > tr > td > span {
            text-decoration: none;
            color: #111;
            border-color: #ddd;
            margin: 0 0;
            margin-left: 0;
            padding: 0 0 0 0;
        }

    .min-grid {
        display: block;
        text-overflow:clip;
        font-size:8px;
    }
     .synngridstyled th {
        text-align: center;
        font-weight: 600;
        background: #8080FF;
        color: white;
        border: 0;
    }
       [class*="col-"] {
        width: 100%;
    }

}

